<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./page.css" />
    <link rel="stylesheet" href="./Home.css">
  </head>
  <body>
    <header>
      <h1>BookNook</h1>
      <nav>
        <a href="/Home">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <p>Guest</p>
        <img
          class="img"
          src="https://booknook.abcd.ge/assets/icon.png"
          alt=""
        />
      </nav>
    </header>
    <div class="container">
      <div class="dunimg">
        <img
          src="https://hunterpaperco.com/cdn/shop/files/hbg-title-9781473233959-117.webp?v=1736510169"
          alt="Dune book cover"
        />
      </div>
      <div class="book-details">
        <div class="details">
          <h1 class="title">Dune</h1>
          <p class="author">by Frank Herbert</p>
        </div>
        <div class="info">
          <p class="sf">Science Fiction</p>
          <p class="Pub">Published: 1965</p>
          <p class="page">412 pages</p>
          <p class="isbn">ISBN: 978-0441172719</p>
        </div>
        <p class="summary">
          On the desert planet Arrakis, young Paul Atreides becomes embroiled in
          a struggle for control of the universe's most valuable resource: the
          spice melange. This epic tale of political intrigue, environmental
          themes, and mystical powers has captivated readers for decades.
          Experience a richly imagined universe where noble houses fight for
          power, and prophecy intertwines with destiny.
        </p>
        <div class="pricecont">
          <p class="price">$16.99</p>
        </div>
      </div>
      <div class="reviews-cont">
        <div class="reviews-title">
          <h2 class="text"><b>Reviews</b></h2>
        </div>
        <div class="coment">
          <div class="coment1">Paul_A</div>
          <p>"The spice must flow! A masterful world."</p>
          <div class="coment">
          <div class="coment1">Atticus_F</div>
          <p>An essential read for everyone.</p>
        </div>
      
        <a href="login.html">Login</a>
        to write a review.
      </div>
    </div>
  </body>
</html>
