 <header>
      <h1>BookNook</h1>
      <nav>
        <a href="/books">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/views/new-book.ejs">Add Book</a>
        <p>Guest</p>
        <img
          class="img"
          src="https://booknook.abcd.ge/assets/icon.png"
          alt=""
        />
      </nav>
    </header>