.add-book-wrapper {
  padding: 40px 0;
}

.add-book-card {
  max-width: 1180px;
  margin: auto;
  background: var(--col-bg-secondary);
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}

.page-title {
  font-family: "Libre Baskerville", serif;
  color: var(--col-primary);
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 30px;
}

/* IMAGE SIDE */
.image-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.image-preview {
  height: 350px;
  border: 2px dashed #c4b494;
  background: #fdfaf3;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  color: #8d7a5b;
}

/* INPUTS */
label {
  font-weight: 600;
  color: var(--col-primary);
  font-size: 0.9rem;
  margin-bottom: 3px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: var(--border-radius);
  border: 1px solid #d9ccb3;
  background: #fff;
  font-size: 0.95rem;
}

textarea {
  min-height: 110px;
}

/* 2 column inputs */
.two {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
}

/* BUTTONS */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.cancel-btn {
  padding: 10px 18px;
  border-radius: var(--border-radius);
  background: #ebe3d3;
  color: #5a4636;
  font-weight: 600;
}

.add-btn {
  padding: 10px 20px;
  background: var(--col-primary);
  color: white;
  font-weight: bold;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.add-btn:hover {
  background: hsl(25, 76%, 25%);
}
