* {
  box-sizing: border-box;
}

body {
  font-family: leto, Arial, Helvetica, sans-serif;
  background-color: rgba(244, 241, 234, 0.5);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  font-family: lato, Arial, Helvetica, sans-serif;
}
.dunimg img {
  width: 250px;
  height: auto;
  border-radius: 5px;
  margin-left: 20px;
}

.book-details {
  flex: 1;
}
