@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --col-primary: hsl(25, 76%, 31%);
  --col-secondary: hsl(43, 74%, 49%);
  --col-bg-primary: hsla(42, 31%, 94%, 0.5);
  --col-bg-secondary: hsl(43, 47%, 94%);
  --input-focus-shadow: 0 0 0 3px rgba(139, 83, 37, 0.1);
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --text-muted: #999;
  --card-spacing: 1rem;
}
* {
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: lato, Arial, Helvetica, sans-serif;
  background-color: rgba(244, 241, 234, 0.5);
  color: #333;
  padding-bottom: 32px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  border-bottom: 1px solid #cdc9c9;
}

header img {
  border-radius: 50%;
}

header nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

header p {
  font-size: 16px;
  margin: 0;
  color: black;
}

main {
  padding: 0 16px;
}

header h1 {
  font-size: 35px;
  font-weight: bold;
}
header nav a {
  color: #555;
  transition: color 0.2s;
}
header nav a:hover {
  color: var(--col-primary);
}
h2 {
  color: var(--col-primary);
  margin-bottom: 24px;
  text-align: left;
  font-size: 30px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--card-spacing);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px 12px;
  font: inherit;
  border: 1px hsl(43, 47%, 94%);
  border-radius: var(--border-radius);
}

input:focus {
  outline: none;
  border-color: hsl(25, 76%, 31%);
  box-shadow: var(--input-focus-shadow);
}

.btn {
  background: none;
  border: none;
  padding: 8px 16px;
  font: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: var(--border-radius);
}

.btn-primary {
  background-color: hsl(25, 76%, 31%);
  color: #fff;
}

.btn-primary:hover {
  background-color: hsl(25, 76%, 25%);
}

.btn-icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  background: transparent;
  border-radius: var(--border-radius);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.book-grids {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  justify-content: center;
}

.book-card {
  /* border-radius: var(--border-radius); */
  overflow: hidden;
}

.book-card p {
  padding-left: 10px;
}

.book-card h3 {
  margin: 12px 0 8px;
  padding: 0 12px;
}

.book-card h3 a {
  color: var(--col-primary);
  transition: color 0.2s;
}

.book-card h3 a:hover {
  color: hsl(25, 76%, 25%);
}

.book-card .author {
  color: #666;
  font-size: 11px;
  padding: 0 12px;
  margin-bottom: 6px;
}

.book-card .genre-year {
  color: var(--text-muted);
  font-size: 10px;
  padding: 0 12px;
  margin-bottom: 12px;
}

.book-card .price {
  padding: 0 12px 16px;
  font-weight: bold;
  color: #333;
}

.book-card .sale-price {
  color: #e63946;
}

.book-image-container {
  width: 100%;
  overflow: hidden;
  border-radius: 9px;
}

.book-image-container img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 350px;
  max-height: 350px;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 9px;
  box-shadow: rgba(139, 47, 19, 0.15) 0 2px 8px 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
}
header h1{
  margin-left: 10%;
  font-size: 24px;
}